* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Arial;
  margin: 0;
}

header {
  background: #005FA5;
  padding: 10px;
  color: #fff;
}

header button {
  background: #fff;
  border: 0;
  padding: 5px 20px;
  font-size: 20px;
  margin-right: 10px;
}

path {
  fill: none;
  stroke: rgba(0,0,0,.05);
  stroke-width: 3px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

path.path {
  stroke-dasharray: 0;
}

.player {
  fill: #005FA5;
}

.player.team-2 {
  fill: #F00097;
}

.player polygon, .player rect {
  fill: white;
}

.track {
  stroke: #555;
  stroke-width: 2;
}

.guide {
  padding-left: 30px;
  padding-right: 30px;
}

.guide h1 {
  border-bottom: 3px solid #eee;
}

.guide h2 {
  border-bottom: 2px solid #eee;
}

.guide h2.team-1 {
  border-color: #005FA5;
}

.guide h2.team-2 {
  border-color: #F00097;
}

@media screen and (max-width: 600px) {
  body {
    margin-top: 60px;
  }

  header {
    position: fixed;
    margin-top: -60px;
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  svg {
    width: 70%;
  }

  .guide {
    float: right;
    width: 30%;
  }
}
