body {
  font-family: 'Helvetica Neue', Arial;
}

path {
  fill: none;
  stroke: rgba(0,0,0,.05);
  stroke-width: 3px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.player {
  fill: #005FA5;
}

.player.team-b {
  fill: #F00097;
}

.player polygon, .player rect {
  fill: white;
}

.track {
  stroke: #555;
  stroke-width: 2;
}

.guide {
  float: right;
  width: 30%;
}

.guide h1 {
  border-bottom: 3px solid #eee;
}

.guide h2 {
  border-bottom: 2px solid #eee;
}

.guide h2.team-a {
  border-color: #005FA5;
}

.guide h2.team-b {
  border-color: #F00097;
}
