path {
  fill: none;
  stroke: rgba(0,0,0,.05);
  stroke-width: 3px;
}

.player {
  fill: #005FA5;
}

.player.team-b {
  fill: #F00097;
}

.player polygon, .player rect {
  fill: white;
}

.track {
  stroke: #555;
  stroke-width: 2;
}
